html{
    max-height: 100vh;
    margin: 0;
}
body{
text-align: center;
}
h1{
    font-size: 36px;
    padding-bottom: 10vh;
}
.container{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-items: center;
}
.game{
    flex-wrap: wrap;
    align-self: center;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.view{
    max-width: 400px;
}
.weapon-image{
    max-width: inherit;
    height: auto;
}
img{
    max-width: 400px;
    height: 400px;
}